<% provide(:title, "Blog") %>

<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <article class="blog">
                    <div class="blog-title">
                        <h2 class="thin">Care & Clean Instructions</h2>
                    </div><!-- end blog-title -->
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="list list-inline meta-info">
                                <li>by <a href="javascript:void(0);">Diamant Gjota</a></li>
                                <li>on <a href="javascript:void(0);">Men</a>, <a href="javascript:void(0);">Fashion</a></li>
                                <li><a href="javascript:void(0);">#elegance</a>, <a href="javascript:void(0);">#men</a></li>
                            </ul>
                            
                            <ul class="list social-icons style1 text-right">
                                <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div><!-- end blog-meta -->
                        <div class="blog-description">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        </div><!-- end blog description -->
                        <a href="blog-article-v1.html" class="btn btn-dark semi-circle btn-md">Read more</a>
                    </div><!-- end blog-content -->
                </article><!-- end blog -->
                
                <hr class="spacer-60">
                
                <article class="blog">
                    <div class="blog-title">
                        <h2 class="thin">New men collection winter 2017</h2>
                    </div><!-- end blog-title -->
                    <div class="blog-image">
                        <figure>
                            <a href="blog-article-v1.html">
                                <%= image_tag "img/slider/slider_06.jpg", alt: "" %>
                            </a>
                        </figure>
                    </div><!-- end blog-image -->
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="list list-inline meta-info">
                                <li>by <a href="javascript:void(0);">Diamant Gjota</a></li>
                                <li>on <a href="javascript:void(0);">Men</a>, <a href="javascript:void(0);">Fashion</a></li>
                                <li><a href="javascript:void(0);">#elegance</a>, <a href="javascript:void(0);">#men</a></li>
                            </ul>
                            
                            <ul class="list social-icons style1 text-right">
                                <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div><!-- end blog-meta -->
                        <div class="blog-description">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        </div><!-- end blog description -->
                        <a href="blog-article-v1.html" class="btn btn-dark semi-circle btn-md">Read more</a>
                    </div><!-- end blog-content -->
                </article><!-- end blog -->
                
                <hr class="spacer-60">
                
                <article class="blog">
                    <div class="blog-title">
                        <h2 class="thin">Introducing Amazon Go and the world’s most advanced shopping technology</h2>
                    </div><!-- end blog-title -->
                    <div class="blog-image">
                        <figure>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NrmMk1Myrxc"></iframe>
                            </div>
                        </figure>
                    </div><!-- end blog-image -->
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="list list-inline meta-info">
                                <li>by <a href="javascript:void(0);">Diamant Gjota</a></li>
                                <li>on <a href="javascript:void(0);">Shopping</a></li>
                                <li><a href="javascript:void(0);">#amazone</a>, <a href="javascript:void(0);">#shopping</a>, <a href="javascript:void(0);">#tech</a></li>
                            </ul>
                            
                            <ul class="list social-icons style1 text-right">
                                <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div><!-- end blog-meta -->
                        <div class="blog-description">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        </div><!-- end blog description -->
                        <a href="blog-article-v1.html" class="btn btn-dark semi-circle btn-md">Read more</a>
                    </div><!-- end blog-content -->
                </article><!-- end blog -->
                
                <hr class="spacer-60">
                
                <article class="blog">
                    <div class="blog-title">
                        <h2 class="thin">2017 Winter Fashion</h2>
                    </div><!-- end blog-title -->
                    <div class="blog-image">
                        <figure>
                            <a href="blog-article-v1.html">
                                <%= image_tag "img/slider/slider_05.jpg", alt: "" %>
                            </a>
                        </figure>
                    </div><!-- end blog-image -->
                    <div class="blog-content">
                        <div class="blog-meta">
                            <ul class="list list-inline meta-info">
                                <li>by <a href="javascript:void(0);">Diamant Gjota</a></li>
                                <li>on <a href="javascript:void(0);">Fashion</a></li>
                                <li><a href="javascript:void(0);">#elegance</a>, <a href="javascript:void(0);">#women</a></li>
                            </ul>
                            
                            <ul class="list social-icons style1 text-right">
                                <li class="facebook"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div><!-- end blog-meta -->
                        <div class="blog-description">
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                        </div><!-- end blog description -->
                        <a href="blog-article-v1.html" class="btn btn-dark semi-circle btn-md">Read more</a>
                    </div><!-- end blog-content -->
                </article><!-- end blog -->
                
                <hr class="spacer-60">
                
                <div class="row">
                    <div class="col-sm-12">
                        <nav>
                            <ul class="pager">
                                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->                
    </div><!-- end container -->
</section>
<!-- end section -->