<div class="breadcrumbs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="active"><%= yield(:title) %></li>
                </ul><!-- end breadcrumb -->
            </div><!-- end col -->    
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end breadcrumbs -->