<!-- start section -->
<section>
    <div class="container">
        <!-- Modal Login -->
        <div class="modal fade account loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row display-table text-center">
                            <div class="col-sm-6 vertical-align">
                                <div class="inner-content">
                                    <h3>Login</h3>
                                    <p class="lead">to your account</p>

                                    <hr class="spacer-5 no-border">

                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" placeholder="Your Name">
                                    </div><!-- end form-group -->
                                    <div class="form-group">
                                        <input type="password" class="form-control input-lg" placeholder="Password">
                                    </div><!-- end form-group -->
                                    <div class="form-group text-left">
                                        <div class="checkbox-input mb-10 pull-left">
                                            <input id="remember" class="styled" type="checkbox">
                                            <label for="remember">
                                                Remember me
                                            </label>
                                        </div><!-- end checkbox-input -->
                                        <label class="pull-right"><a href="forgot-password.html">Forgot Password</a></label>
                                    </div><!-- end form-group -->
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-default btn-block round btn-lg" value="Log In">
                                    </div><!-- end form-group -->

                                    <div class="or">or</div>

                                </div><!-- inner-content -->

                            </div><!-- end col -->

                            <div class="col-sm-6 vertical-align image-background layer-dark" style="background-image: url(<%= asset_path 'img/bg_01.jpg' %>);">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                                <div class="inner-content">
                                    <h3 class="text-white">Sign in</h3>
                                    <p class="lead text-white">with one of your social profiles</p>

                                    <ul class="social-icons style2">
                                        <li class="facebook"><a class="semi-circle" href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a class="semi-circle" href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                        <li class="google-plus"><a class="semi-circle" href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>

                                    <hr class="spacer-10 no-border"/>

                                    <p>Don't have an account? <a href="javascript:void(0);" data-toggle="modal" data-target=".registerModal" data-dismiss="modal" aria-label="Close" class="text-white">Register</a></p>

                                </div><!-- end inner-content -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end modal-body -->
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div><!-- end loginModal -->

    </div>
</section>